div{
    background: rgb(152, 152, 255);
    margin: 3em 0 0 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

div:hover{
    background-color: black;
    color: white;
}